<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lqm.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ViewGroupActivity" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.CustomTextViewActivity" />
        <activity android:name=".activity.DragBubbleActivity"/>
        <activity android:name=".activity.BezierLineActivity"/>
        <activity android:name=".activity.ExpandViewActivity"/>
        <activity android:name=".activity.ExpandMenuActivity" />
    </application>

</manifest>